* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 400px;
    height: 450px;
    border-radius: 15px;
}

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid white;
    border-radius: 25px;
    background: transparent;
    color: white;
    text-align: center;
    outline: none;
}

.password-container {
    position: relative;
}

.toggle {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: white;
}

button {
    background-color: white;
    color: black;
    padding: 12px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 15px;
    font-weight: bold;
    width: 100%;
}

button:hover {
    background-color: gray;
}

p {
    color: aliceblue;
    margin-top: 15px;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

